@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  main styling starts here
=================================*/

/* passwordGenerator section start */
.password-generator {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(59,59,152);
}

.password-generator .wrapper {
  width: 26%;
}

.generator-card { 
  padding: 20px;
  background: rgb(35,35,91);
  color: rgb(255,255,255);
  box-shadow: 0 2px 7px rgb(255,255,255,0.2);
}

.heading {
  padding: 10px 0;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.output-area {
  padding: 7px 2%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(21,21,55);
}

.output {
  padding-left: 3%;
  font-size: 18px;
}

.copy-pass {
  text-indent: -9999px;
}

.copy-pass::before {
  content: '\f328';
  padding: 12px 14px;
  font-family: "FontAwesome";
  background: rgb(59,59,152);
  color: rgb(255,255,255);
  float: left;
  font-size: 18px;
  text-indent: 0;
}

.input-group {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-control input {
  width: 100%;
  padding: 8px 0;
  border: none;
  outline: none;
  background: rgb(59,59,152);
  color: rgb(255,255,255);
  font-size: 16px;
}

/* passwordGenerator section end */

/*=================================
  main styling ends here
=================================*/
